<section id="messages" data-channel="app_chat" data-conversation_id="<%= conversation.id %>">
  <%= render conversation.messages %>
</section>

<%= render 'messages/new', conversation: conversation %>