<!DOCTYPE html>
<html ng-app="wokamiApp">
	<head>
		<title>Wokami</title>

		<!-- TODO: download png -->		
		<link href="http://38.media.tumblr.com/avatar_9c74ea7e7dc0_128.png" rel="icon" />

		<!-- TODO: download css and minimize all -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://tympanus.net/Development/ButtonComponentMorph/css/component.css" />
		<link rel="stylesheet" type="text/css" href="http://tympanus.net/Development/ButtonComponentMorph/css/content.css" />
		<link href="index.css" rel="stylesheet" />
	</head>

	<body ng-controller="indexController" ng-keyup="keyUp($event)">

		<!-- Path (Morph effect) -->
		
		<div id="container" class="container"></div>
		<div style="display: none;"class="morph-button-sidebar morph-button-fixed morph-button">
			<button type="button">
				<span>
					<svg id="road-icon" viewBox="0 0 32 32" style="width: 40px; height: 40px;"><g filter=""><use xlink:href="#road"></use></g></svg>
				</span>
			</button>
			<div class="morph-content" style="left: 50px; top: 538px;">
				<div>
					<div class="content-style-sidebar">
						<span class="icon icon-close">Close the overlay</span>
						<h2>Learning Path</h2>
						<ul>
							<li><!-- empty li as an error fix--><a href=""></a></li>
							<li><a class="icon" href="greetings">Greetings</a></li>
							<li><a class="icon" href="greetings">Feelings</a></li>
							<li><a class="icon" href="">Shitz</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<!-- Post -->

		<div ng-view ng-class="effect" msd-wheel="test1($event, $delta, $deltaX, $deltaY)"></div>


		<!-- Scripts -->

		<!-- TODO: minify js -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
		<!-- TODO: download js -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
		<script src="hamster.js"></script>
		<script src="mousewheel.js"></script>

		<!-- trianglify: cool triangle backgrounds -->
		<script src="http://colorbrewer2.org/export/colorbrewer.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="trianglify.js"></script>
		

		<!-- TODO: download js -->
		<script src="http://tympanus.net/Development/ButtonComponentMorph/js/modernizr.custom.js"></script>
		<script src="index.js"></script>
		<script src="morph.js"></script>
		
		<!-- TODO: minimize svg file -->
		<script>
			// svg icons request file
			var url = 'images/icons.svg';
  		var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
  		document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild);
		</script>

	</body>

</html>